html,body{
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   background-color: white;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 3.5em;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #104E8B;
}

.titleBox {
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.titleBoxContent {
    border-radius: 7px;
    background: rgba(0,0,0,.7);
    padding: 2.5em;
    text-align: center;
    max-width: 550px;
}
.titleBoxTitle {
    font-size: 10em;
    color: #fff;
    margin:10px;
    width:auto;
    height:auto;
}

.donationBanner {
  height: 200px;
  width:auto;
  height:auto;
  font-size: 2em;
  position: relative;
  background: rgba(177,71,65);
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}
footer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(151, 151, 151);
  text-align: center;
  text-decoration: none solid rgb(151, 151, 151);
  width: auto;
  font: 15px / 13.8px sans-serif;
  padding: .5em;
}
.center{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#charityImg{
  height:auto;
  width:60%;
  padding:20px;
}
#hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:100;
}
#hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
#hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 700px;
    min-height: 300px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    background-color:#104E8B;
    width: auto;
    height: auto;
    font-size: 1em;
    color:white;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
#donateBttn1{
  background-color:rgba(177,71,65);
  up: 10%;
  width: auto;
  height: auto;
  margin: 20px;
  font-size: 3em;
  color:white;
  border: 3px solid #999;
}
#donateBttn2{
  background-color:#FFFFFF;
  up: 10%;
  width: auto;
  height: auto;
  margin: 20px;
  font-size: 3em;
  color:black;
    border: 3px solid #999;
}
#donateBttn3{
  background-color:#104E8B;
  up: 10%;
  width: auto;
  height: auto;
  margin: 20px;
  font-size: 3em;
  color:white;
    border: 3px solid #999;
}
