html,body{
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   background-color: white;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 3.5em;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #104E8B;
}

footer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(151, 151, 151);
  text-align: center;
  text-decoration: none solid rgb(151, 151, 151);
  width: auto;
  font: 15px / 13.8px sans-serif;
  padding: .5em;
}

#charityImg{
  height:auto;
  width:35%;
  padding:50px; 
}
