html,body{
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   background-color: white;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: left;
  font-size: 2em;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #104E8B;
}

.titleBox {
    height: 900px;
    background-image: url('./votingPeople.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.titleBoxContent {
    border-radius: 7px;
    background: rgba(0,0,0,.7);
    padding: 2.5em;
    text-align: center;
    max-width: 550px;
}
.titleBoxTitle {
    font-size: 10em;
    color: #fff;
    margin:10px;
    width:auto;
    height:auto;
}

.container {
  height: 200px;
  width:auto;
  height:auto;
  font-size: 2em;
  position: relative;
  background: rgba(177,71,65);
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}
footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(151, 151, 151);
  text-align: center;
  text-decoration: none solid rgb(151, 151, 151);
  width: auto;
  font: 15px / 13.8px sans-serif;
  padding: .5em;
}
