html,body{
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   background-color: white;
}
.navbar {
  overflow: hidden;
  z-index: auto 20;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: left;
  font-size: 2em;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
  width:auto;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 2em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #104E8B;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.hero {
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
}
.hero,.hero .hero-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

.hero .hero-content {
    border-radius: 5px;
    background: rgba(0,0,0,.6);
    padding: 2rem;
    text-align: center;
    max-width: 550px;
}

.hero .hero-content .hero-title {
    font-size: 10em;
    color: #fff;
    margin:10px;
    width:auto;
    height:auto;
}

.hero .hero-content .hero-subtitle {
    font-family: proxima-soft,sans-serif;
    font-size: 2em;
    font-style: italic;
    color: #fff
}
